image:
  repository: abdavi/movi-api
  tag: "latest"               
  pullPolicy: IfNotPresent

replicaCount: 2

service:
  type: ClusterIP
  port: 80                     
  targetPort: 8080              

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

env: []                        

ingress:
  enabled: false
  className: "nginx"           
  hosts:
    - host: movi.local
      paths:
        - path: /
          pathType: Prefix
  tls: []                      

podAnnotations: {}

nodeSelector: {}
tolerations: []
affinity: {}

